.container
{
    width: 60%;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
  }

p
{
    color: white;
}

form
{
    display: flex;
    width: 50%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
    color: white;
}

.waitlistInput
{
    background-color: #333;
    border-left: 1px solid #001c97;
    border-top: 1px solid #001c97;
    border-bottom: 1px solid #001c97;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    color: #fff;
    font-size: 19px;
    outline: none;
    padding: 6px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

.waitlistButton
{
    background-color: #3a4da1;
    color: #fff;
    font-size: 14px;
    margin-left: -98px;
    width: 97px;
    margin-top: 40px;
    outline: none;
    padding: 6px;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #001c97;
    border-radius: 10px;
}

.linksIcon
{
    color: #6F6F6F;
    padding: 5px;
}

