.markImg
{
    display: flex; 
    justify-content: center;
    width: min-content;
    height: min-content;
    animation: growin 1s linear;
}
.markImg2
{
    animation: growin 1s linear;
}

#orderSuccessful
{
    animation: fadeIn 3s;   
    animation-delay: 1s;
}

#estimatedDelivery
{
    animation: fadeIn 3s;   
    animation-delay: 1s;
}


@keyframes growin 
{
    0% 
    {
        opacity: 0;
        max-width: 50%;
        max-height: 50%;
        justify-content: center;
    }
    50% 
    {
        opacity: 0.5;
        max-width: 70%;
        max-height: 70%;
        justify-content: center;

    }
    
    100% 
    {
        opacity: 1;
        max-width: 100%;
        max-height: 100%;
        justify-content: center;

    }
}

@-o-keyframes growin
{
    0% 
    {
        opacity: 0;
        max-width: 50%;
        max-height: 50%;
        justify-content: center;
    }
    50% 
    {
        opacity: 0.5;
        max-width: 70%;
        max-height: 70%;
        justify-content: center;

    }
    
    100% 
    {
        opacity: 1;
        max-width: 100%;
        max-height: 100%;
        justify-content: center;

    }
}
/* support for mozila */
@-moz-keyframes growin
{
    0% 
    {
        opacity: 0;
        max-width: 50%;
        max-height: 50%;
        justify-content: center;
    }
    50% 
    {
        opacity: 0.5;
        max-width: 70%;
        max-height: 70%;
        justify-content: center;

    }
    
    100% 
    {
        opacity: 1;
        max-width: 100%;
        max-height: 100%;
        justify-content: center;

    }
}
/* support for safari and chrome */
@-webkit-keyframes growin
{
    0% 
    {
        opacity: 0;
        max-width: 50%;
        max-height: 50%;
        justify-content: center;
    }
    50% 
    {
        opacity: 0.5;
        max-width: 70%;
        max-height: 70%;
        justify-content: center;

    }
    
    100% 
    {
        opacity: 1;
        max-width: 100%;
        max-height: 100%;
        justify-content: center;

    }
}




/* support for opera */
/* @-o-keyframes fadeIn
{
    0%
    { 
        opacity: 1;
    }
    100%{ opacity: 0;}
} */
/* support for mozila */
/* @-moz-keyframes fadeIn
{
    0%{ opacity: 1;}
    100%{ opacity: 0;}
} */
/* support for safari and chrome */
/* @-webkit-keyframes fadeIn
{
    0%{ opacity: 1;}
    100%{ opacity: 0;}
} */

/* support for opera */
